<header class="header">
    <a href="/" class="header-logo">BookNoteApp</a>

    <nav class="header__nav">
        <ul>
            <li><a href="/"></a>Home</li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>

    </nav>

    <div class="header_button">
        <button class="Searchbtn" aria-expanded="false">
            Logout
        </button>
    </div>

</header>